*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 225px 20px 0;
    background-color:aquamarine ;
    font-family: sans-serif;
}
.header{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: coral;
}
.margen{
    height: 50px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}
.titulo{
    text-align: center;
    position: relative;
    top: 75px;
    left: 50%;
    height: 100px;
    width: 200px;
    transform: translate(-50%, -50%);
}
.logo{
    border: 1px solid black;
    border-radius: 20%;
    text-decoration: none;
    color: white;
    background-color: black;
    height: 100px;
    width: 200px;
}
.navbar{
    position: relative;
    bottom: 10%;
    left: 70%;
}
.navbar_items{
    list-style: none;
    display: flex;
}
.navbar a{
    border: 2px solid black;
    margin: 3px;
    padding: 4px;
    text-decoration: none;
    color: white;
}
.navbar_item:hover{
    background-color: orange ;
    transition: 0.5s;
}
.nav_toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}
@media (max-width: 790px){
    body{
        padding: 225px 20px 0;
        background-color:red ;
    }
    .header{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 200px;
        width: 100%;
        top: 0;
        left: 0;
        background-color: coral;
        align-items: center;
    }
    .margen{
        height: 50px;
        width: 100%;
        border: 1px solid black;
        text-align: center;
        background-color: white;
    }
    .titulo{
        position: relative;
        left: 15%;
    }
   
    .logo{
        height: 75px;
        width: 150px;
    }
    .navbar{
        position: initial;
        
        
    }
}

